<div id="grid" class="grid w-clearfix">
      <a href="{{ links.da0cced }}" aria-current="page" class="item w-inline-block w--current"><img src="{{ images.20587b5f.url }}" alt="{{ images.20587b5f.alt | trim | escape }}" class="image">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.4c8b6eaa }}</h4>
          <p class="p_info">{{ texts.-7172c79a }}</p>
        </div>
      </a>
      <a href="{{ links.2b2239bf }}" class="item w-inline-block"><img class="image" src="{{ images.-42a4a75.url }}" alt="{{ images.-42a4a75.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;88vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;45vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30vw&quot;}]" sizes="(max-width: 479px) 88vw, (max-width: 767px) 45vw, 30vw">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.44432771 }}<br></h4>
          <p class="p_info">{{ texts.6d9c6cbe }}<br></p>
        </div>
      </a>
      <a href="{{ links.2a3a3210 }}" class="item w-inline-block"><img src="{{ images.-1bed1eb5.url }}" alt="{{ images.-1bed1eb5.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;88vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;45vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30vw&quot;}]" class="image">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.1e68f673 }}<br></h4>
          <p class="p_info">{{ texts.-24abeb5d }}<br></p>
        </div>
      </a>
      <a href="{{ links.2a52adcc }}" class="item w-inline-block"><img class="image" src="{{ images.-395ed728.url }}" alt="{{ images.-395ed728.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;88vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;45vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30vw&quot;}]" sizes="(max-width: 479px) 88vw, (max-width: 767px) 45vw, 30vw">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.223d7677 }}</h4>
          <p class="p_info">{{ texts.-10fd20da }}</p>
        </div>
      </a>
      <a href="{{ links.730212af }}" class="item w-inline-block"><img class="image" src="{{ images.1eb03b3b.url }}" alt="{{ images.1eb03b3b.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;88vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;45vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30vw&quot;}]" sizes="(max-width: 479px) 88vw, (max-width: 767px) 45vw, 30vw">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.223d7677 }}</h4>
          <p class="p_info">{{ texts.6d077dbd }}</p>
        </div>
      </a>
      <a href="{{ links.-724f6e59 }}" class="item w-inline-block"><img class="image" src="{{ images.-6a3c41ba.url }}" alt="{{ images.-6a3c41ba.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;88vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;45vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30vw&quot;}]" sizes="(max-width: 479px) 88vw, (max-width: 767px) 45vw, 30vw">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.223d7677 }}</h4>
          <p class="p_info">{{ texts.-60a4e9f0 }}</p>
        </div>
      </a>
      <a href="{{ links.3e8c465c }}" class="item w-inline-block"><img class="image" src="{{ images.31966316.url }}" alt="{{ images.31966316.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;88vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;45vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30vw&quot;}]" sizes="(max-width: 479px) 88vw, (max-width: 767px) 45vw, 30vw">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.223d7677 }}</h4>
          <p class="p_info">{{ texts.259f556b }}</p>
        </div>
      </a>
      <a href="{{ links.-69f74ce5 }}" class="item w-inline-block"><img class="image" src="{{ images.67f89515.url }}" alt="{{ images.67f89515.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;88vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;45vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30vw&quot;}]" sizes="(max-width: 479px) 88vw, (max-width: 767px) 45vw, 30vw">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.4c8b6eaa }}</h4>
          <p class="p_info">{{ texts.50d8b32a }}</p>
        </div>
      </a>
      <a href="{{ links.200841c2 }}" class="item w-inline-block"><img src="{{ images.-d5c0d84.url }}" alt="{{ images.-d5c0d84.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;88vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;45vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30vw&quot;}]" class="image">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.223d7677 }}</h4>
          <p class="p_info">{{ texts.-67651c82 }}<br></p>
        </div>
      </a>
      <a href="{{ links.-69f7b3dd }}" class="item w-inline-block"><img class="image" src="{{ images.552a9bc0.url }}" alt="{{ images.552a9bc0.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;88vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;45vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30vw&quot;}]" sizes="(max-width: 479px) 88vw, (max-width: 767px) 45vw, 30vw">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.-17d67da1 }}</h4>
          <p class="p_info">{{ texts.-3734db3b }}</p>
        </div>
      </a>
    </div>