<div id="grid" class="grid w-clearfix">
      <a href="{{ links.7838f613 }}" class="item w-inline-block"><img src="{{ images.25a57d93.url }}" alt="{{ images.25a57d93.alt | trim | escape }}" class="image">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.-6f1eaa23 }}</h4>
          <p class="p_info">{{ texts.60330da6 }}</p>
        </div>
      </a>
      <a href="{{ links.-1561ee43 }}" class="item w-inline-block"><img src="{{ images.-3d264ecf.url }}" alt="{{ images.-3d264ecf.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;88vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;45vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30vw&quot;}]" class="image">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.-3a7f352f }}</h4>
          <p class="p_info">{{ texts.-4ad07040 }}<br></p>
        </div>
      </a>
      <a href="{{ links.7197a16f }}" class="item w-inline-block"><img class="image" src="{{ images.-427bc5ac.url }}" alt="{{ images.-427bc5ac.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;88vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;45vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30vw&quot;}]" sizes="(max-width: 479px) 88vw, (max-width: 767px) 45vw, 30vw">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.-6478f5a7 }}</h4>
          <p class="p_info">{{ texts.443d2155 }}</p>
        </div>
      </a>
      <a href="{{ links.127aed0a }}" class="item w-inline-block"><img src="{{ images.1c81e1be.url }}" alt="{{ images.1c81e1be.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;88vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;45vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30vw&quot;}]" class="image">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.55d0367 }}</h4>
          <p class="p_info">{{ texts.15bcfe20 }}</p>
        </div>
      </a>
      <a href="{{ links.-74134de8 }}" class="item w-inline-block"><img class="image" src="{{ images.-33b9b5d6.url }}" alt="{{ images.-33b9b5d6.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;88vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;45vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30vw&quot;}]" sizes="(max-width: 479px) 88vw, (max-width: 767px) 45vw, 30vw">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.-649e09a6 }}</h4>
          <p class="p_info">{{ texts.40db7d03 }}</p>
        </div>
      </a>
      <a href="{{ links.1ef52891 }}" class="item w-inline-block"><img src="{{ images.356131e8.url }}" alt="{{ images.356131e8.alt | trim | escape }}" class="image">
        <div class="wrap_info_thumb">
          <h4 class="h3_info">{{ texts.-1c01e042 }}</h4>
          <p class="p_info">{{ texts.-225abe04 }}</p>
        </div>
      </a>
    </div>