<div class="section_hero wf-section">
    <div class="wrapper-header-infos-copy">
      <h1 class="h1">{{ texts.-10f8c5a7 }}<br>{{ texts.-64771222 }}<br></h1>
      <a href="{{ links.6c80469d }}" class="wrap-avatar-hire w-inline-block">
        <div class="link-avatar"><img src="{{ images.3a1a39b6.url }}" width="119" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;119px&quot;}]" alt="{{ images.3a1a39b6.alt | trim | escape }}" class="img-portrait"></div>
        <div class="wrapper-text-avatar">
          <h4 class="h3_info small_bottom_margin">{{ texts.7b0de148 }}</h4>
          <div class="p_info">{{ texts.4794c1ab }}</div>
        </div>
      </a>
    </div>
  </div>